ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(20, 46, 194);
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #98a0ec;
}




div[id*='ytsubscribe'] {
    position: absolute;
    top: 85%; left: 85%;
  }
  
  #bdes{
    background-image: linear-gradient(120,blue,white)
  }
    
  .iframe {
    border-radius: 30px;
  }
  
   .col {
    display: inline-block !important;
  }
  
  /* Position Results Below Search Bar */
  #song-list {
    position: absolute;
    top: 20%; left: 25%;
  }
  .input-group {
    position: absolute;
    top: 10%; left: 50%;
    /*transform: translate(-50%, -50%);*/
    background: white;
    /*border-radius: 30px;*/
    padding: 10px;
  }

  
  .input-group:hover > .group-btn {
    background: white;
    color: black;
  }
 
  .group-btn {
  
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    /*transition: 0.4s;*/
    color: #1d20b9;
    cursor: pointer;
  }
 
  .group-btn > i
  {
    font-size: 18px;
  }
  .group-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #333;
    font-size: 16px;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
  }

  .btn-primary{
      background: #fff;
      color: #CB356B;
      border: none;
  }
  #search-text{
    background-color: blue;
    color: white;
  }
  .container{
    background-image: linear-gradient(120,blue,white);
  }